@charset "UTF-8";

header {
  display: flex;
  align-items: stretch;
}

header img {
  width: 100%
}

header {
  display: flex;
  align-items: stretch;
}

.nana {
  width: 80%;
  position: relative;
}

.reserve {
  width: 20%;
  background-color: #F8F2EA;
}

.reserve a {
  writing-mode: vertical-rl;
  letter-spacing: 0.17em;
  font-size: 1.2vw;
  color: inherit;
}

.reserve p {
  writing-mode: vertical-rl;
  letter-spacing: 0.17em;
  font-size: 1.2vw;
}

.reserve div {
  display: flex;
  justify-content: center;
  gap: 20%;
  align-items: center;
  position: relative;
  padding: 20px 0;
}

.reserve div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.reserve div::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.reserve img {
  flex: 1;
  padding: 10% 0;
}

.nana ul {
  writing-mode: vertical-rl;
  writing-mode: vertical-lr;
  list-style: none;
  background-image: url('../images/background-black.webp');
  border-radius: 50%;
  padding: 12vh 7vh 10vh;
  position: absolute;
  right: -20px;
  bottom: -15%;
  z-index: 20;
}

li {
  padding: 0vh 1vh;
  position: relative;
  transition: opacity 0.3s;
}

li::before {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  width: 2px;
  height: 20%;
  background-color: white;
}

li:hover {
  opacity: 0.4;
}

#open {
  display: none;
}

.overlay {
  display: none;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
  }

  .nana {
    width: 100%;
  }

  .nana nav {
    display: none;
  }

  .reserve {
    width: 100%;
    display: flex;
  }

  .reserve img {
    flex: none;
    width: 50%;
    padding: 10% 10%;
  }

  .reserve a {
    writing-mode: horizontal-tb;
    font-size: 2vw;
    order: 2;
  }

  .reserve p {
    writing-mode: horizontal-tb;
    font-size: 2vw;
    order: 1;
  }

  .reserve div {
    flex-direction: column;
    gap: 8px;
    padding-left: 50px;
    padding-top: 80px;
  }

  .reserve div::before,
  .reserve div::after {
    display: none;
  }

  .material-icons {
    font-size: 8vw;
    cursor: pointer;
    padding: 20px 40px;
  }

  #open {
    display: block;
    position: fixed;
    right: 0;
    z-index: 100;
  }

  #close {
    position: fixed;
    right: 0;
    cursor: pointer;
  }

  #open.hide {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #F8F2EA;
    opacity: 0;
    pointer-events: none;
    z-index: 300;
    display: block;
  }

  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .overlay li {
    padding-bottom: 50px;
    text-align: center;
    font-size: 3vw;
  }

  .overlay nav a {
    border-bottom: 1px solid black;
  }

  .overlay a {
    color: black;
  }

  li::before {
    display: none;
  }
}