@charset "UTF-8";

/* main */
main {
  padding: 220px 11vw 0;
  position: relative;
  background-color: #F7F5F0;
  height: 900px;
}

main img {
  position: absolute;
}

.table {
  top: 250px;
  left: 15%;
  border-radius: 50%;
  z-index: 10;
  width: 28%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  height: auto;
}

.gray {
  top: 300px;
  left: 37%;
  z-index: 0;
}

.okonomiyaki {
  left: 50%;
  top: 350px;
  width: 220px;
  height: auto;
}

.gyu {
  top: 650px;
  left: 45%;
  width: 180px;
  height: auto;
}

main h1 {
  position: absolute;
  font-size: 3vw;
  writing-mode: vertical-rl;
  right: 10vw;
  font-weight: normal;
  letter-spacing: 0.5em;
}

main h1 span {
  margin-top: 5em;
  margin-right: 1em;
  display: inline-block;
}

.about {
  background-color: #F7F5F0;
  padding: 50px 11vw 100px;
  position: relative;
}

.about p {
  width: 60%;
  letter-spacing: 0.3em;
  line-height: 2.2em;
}

.cooking {
  position: absolute;
  right: 15%;
  top: 10%;
  width: 290px;
  height: 200px;
  z-index: 10;
}

.gray1 {
  position: absolute;
  right: 10%;
  top: 15%;
  z-index: 1;
}

/* menu */
#menu {
  background-color: #F7F5F0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0 480px;
}

#menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

#menu h2 {
  border-bottom: 2px solid #000;
  font-weight: normal;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 8px;
}

#menu img:hover,
#menu h2:hover {
  opacity: 0.4;
  transition: opacity 0.3s;
}

/* store-guide */
#store-guide {
  padding: 390px 15% 190px;
  background-image: url('../images/background-black.webp');
  position: relative;
}

#store-guide h1 {
  writing-mode: vertical-rl;
  letter-spacing: 0.5em;
  position: absolute;
  left: 52%;
  top: -280px;
  transform: translateX(-100%);
}

.white-text {
  color: white;
}

#store-guide img {
  width: 100%;
  height: auto;
}

#store-guide p {
  color: white;
}

.img-frame {
  display: flex;
  gap: 10%;
  border: 2px solid white;
  padding: 40px;
}

.text {
  display: flex;
  gap: 10%;
  padding-top: 80px;
  position: relative;
}

.text::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 60px;
  height: 85%;
  border-left: 1px dashed white;
  transform: translateX(-50%);
}

/* message */
.message {
  background-image: url('../images/okonomiyaki background.webp');
  padding: 120px 27%;
  position: relative;
}

.message::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.message h2,
.message p {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  letter-spacing: 0.5em;
}

.message h2 {
  margin-bottom: 85px;
}

/* contact */
.contact {
  background-image: url('../images/tubutubu.webp');
  padding: 120px 30%;
}

.contact div {
  background-image: url('../images/washi.webp');
  text-align: center;
  padding: 55px 12%;
}

.contact h1 {
  letter-spacing: 0.2em;
}

/* cancel */
.cancel {
  background-image: url('../images/gray.webp');
  padding: 120px 30%;
}

.cancel div {
  background-image: url('../images/washi.webp');
  text-align: center;
  padding: 55px 12%;
}

.cancel h1 {
  letter-spacing: 0.2em;
}

/* store-info */
#store-info {
  padding: 45px 20% 150px;
  background-color: #F7F5F0;
}

#store-info img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin:105px 0 70px;
}

#store-info h1 {
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: normal;
}

.info-row {
  display: flex;
  padding: 15px 5%;
  border-bottom: 1px dashed #000;
}

.info-row:first-of-type {
  border-top: 1px dashed #000;
}

.info-row p:first-child {
  width: 45%;
  flex-shrink: 0;
}